<div class="loading">
    <div class="loading-inner">
        <div class="loading-logo">
            <img src="adapt/css/assets/logo-outline-dark.png">
        </div>
        <div class="loading-anim">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        </div>
    </div>
</div>