<div class="article-inner block-container">
    {{#if displayTitle}}
    <div class="article-header">
        <div class="article-title">
            <div role="heading" tabindex="0" class="article-title-inner h2"  aria-level="2">
                {{{displayTitle}}}
            </div>
        </div>

        {{#if body}}
        <div class="article-body">
            <div class="article-body-inner">
                {{{a11y_text body}}}
            </div>
        </div>
        {{/if}}

        {{#if instruction}}
        <div class="article-instruction">
            <div class="article-instruction-inner">
                {{{a11y_text instruction}}}
            </div>
        </div>
        {{/if}}
    </div>
    {{/if}}
</div>
